@model MVCFundamentals.Models.Trail


@{
    ViewBag.Title = "Index";
}

<h2>Trail Reviews for @Model.Name</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_TrailReview",@Model.TrailReviews)